<div class="col l2">
  <h3>Home, Sweet Home.</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis sequi officia molestias iusto voluptas incidunt et! Repellat libero sit perferendis nisi eos velit quos aperiam, atque aspernatur, quas dolorum quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum fugiat voluptate tenetur unde, fugit delectus explicabo error, dolorem assumenda ipsa optio aliquid iste? Fugit ab eaque velit, incidunt excepturi eius.</p>
</div>